[submodule "testdata/case/python-sample-0"]
	path = testdata/case/python-sample-0
	url = https://github.com/sgtest/python-sample-0.git
[submodule "testdata/case/python-sample-1"]
	path = testdata/case/python-sample-1
	url = https://github.com/sgtest/python-sample-1.git
[submodule "testdata/case/python-sample-2"]
	path = testdata/case/python-sample-2
	url = https://github.com/sgtest/python-sample-2.git
[submodule "testdata/case/python-single-module-dependent"]
	path = testdata/case/python-single-module-dependent
	url = https://github.com/sgtest/python-single-module-dependent.git
[submodule "testdata/case/python-single-module-lib"]
	path = testdata/case/python-single-module-lib
	url = https://github.com/sgtest/python-single-module-lib.git
[submodule "testdata/case/python-no-url"]
	path = testdata/case/python-no-url
	url = https://github.com/sgtest/python-no-url.git
[submodule "testdata/case/python-stdlib-refs"]
	path = testdata/case/python-stdlib-refs
	url = https://github.com/sgtest/python-stdlib-refs
[submodule "testdata/case/python-django-app"]
	path = testdata/case/python-django-app
	url = https://github.com/sgtest/python-django-app
[submodule "testdata/case/python-mock-stdlib"]
	path = testdata/case/python-mock-stdlib
	url = https://github.com/sgtest/python-mock-stdlib
[submodule "testdata/case/python-reqstxt-setuppy"]
	path = testdata/case/python-reqstxt-setuppy
	url = https://github.com/sgtest/python-reqstxt-setuppy
[submodule "testdata/case/python-unresolved-reqstxt"]
	path = testdata/case/python-unresolved-reqstxt
	url = https://github.com/sgtest/python-unresolved-reqstxt.git
[submodule "testdata/case/python-link-tests"]
	path = testdata/case/python-link-tests
	url = https://github.com/sgtest/python-link-tests.git
[submodule "testdata/case/python27-syntax"]
	path = testdata/case/python27-syntax
	url = https://github.com/sgtest/python27-syntax
